
.page-element .btn,
.page-element .contents,
.page-element.widget-form form,
.page-element.widget-form form input,
.page-element.widget-form form textarea,
.page-element.widget-form form select,
.page-element.widget-form form label
{
  font-family: Lato;
  font-weight: normal;
}

.page-element.widget-headline .contents h1,
.page-element.widget-headline .contents h2,
.page-element.widget-headline .contents h3,
.page-element.widget-headline .contents h4,
.page-element.widget-headline .contents h5,
.page-element.widget-headline .contents h6
{
  font-family: Amaranth;
  font-weight: normal;
}
