body
{
  background-color: #ffffff;

  background-position: top left;

  background-repeat: repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}


.page .page-block .block-inner { background-color: transparent; }

#element-1  
{
  height: 394px;
  width: 960px;
  left: 0px;
  top: 93px;
  z-index: 3;
}

#element-64  
{
  height: 87px;
  width: 598px;
  left: 196px;
  top: 571px;
  z-index: 4;
}

#element-64 p, #element-64 ul, #element-64 ol, #element-64 h1 
{
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 29px;
  text-align: left;
}

#element-48  
{
  height: 59px;
  width: 369px;
  left: 232px;
  top: 853px;
}

#element-29  
{
  height: 59px;
  width: 300px;
  left: 342px;
  top: 127px;
}

#element-5  
{
  height: 50px;
  width: 370px;
  left: 0px;
  top: 23px;
  z-index: 7;
}

#element-5 p, #element-5 ul, #element-5 ol, #element-5 h1 
{
  font-size: 36px;
  color: rgb(0, 0, 0);
  line-height: 50px;
  text-align: left;
}

#element-6  
{
  height: 50px;
  width: 959px;
  left: 0px;
  top: 512px;
  z-index: 8;
}

#element-6 p, #element-6 ul, #element-6 ol, #element-6 h1 
{
  font-size: 36px;
  color: rgb(0, 0, 0);
  line-height: 50px;
  text-align: center;
}

#element-7  
{
  height: 255px;
  width: 362px;
  left: 45px;
  top: 85px;
  z-index: 9;
}

#element-8  
{
  height: 197px;
  width: 171px;
  left: 610px;
  top: 439px;
  z-index: 10;
}

#element-10  
{
  height: 11px;
  width: 393px;
  left: 449px;
  top: 156px;
  z-index: 11;
}

#element-11  
{
  height: 36px;
  width: 394px;
  left: 449px;
  top: 120px;
  z-index: 12;
}

#element-11 p, #element-11 ul, #element-11 ol, #element-11 h1 
{
  font-size: 26px;
  color: rgb(0, 0, 0);
  line-height: 36px;
  text-align: left;
}

#element-12  
{
  height: 87px;
  width: 447px;
  left: 449px;
  top: 174px;
  z-index: 13;
}

#element-12 p, #element-12 ul, #element-12 ol, #element-12 h1 
{
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 29px;
  text-align: left;
}

#element-14  
{
  height: 36px;
  width: 344px;
  left: 117px;
  top: 447px;
  z-index: 14;
}

#element-14 p, #element-14 ul, #element-14 ol, #element-14 h1 
{
  font-size: 26px;
  color: rgb(0, 0, 0);
  line-height: 36px;
  text-align: left;
}

#element-13  
{
  height: 116px;
  width: 397px;
  left: 115px;
  top: 515px;
  z-index: 15;
}

#element-13 p, #element-13 ul, #element-13 ol, #element-13 h1 
{
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 25px;
  text-align: left;
}

#element-16  
{
  height: 36px;
  width: 428px;
  left: 378px;
  top: 768px;
  z-index: 16;
}

#element-16 p, #element-16 ul, #element-16 ol, #element-16 h1 
{
  font-size: 26px;
  color: rgb(0, 0, 0);
  line-height: 36px;
  text-align: left;
}

#element-15  
{
  height: 145px;
  width: 455px;
  left: 378px;
  top: 837px;
  z-index: 17;
}

#element-15 p, #element-15 ul, #element-15 ol, #element-15 h1 
{
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 25px;
  text-align: left;
}

#element-17  
{
  height: 100px;
  width: 583px;
  left: 189px;
  top: 11px;
  z-index: 18;
}

#element-17 p, #element-17 ul, #element-17 ol, #element-17 h1 
{
  font-size: 36px;
  color: rgb(0, 0, 0);
  line-height: 50px;
  text-align: center;
}

#element-18  
{
  height: 20px;
  width: 958px;
  left: 1px;
  top: 377px;
  z-index: 19;
}

#element-18 p, #element-18 ul, #element-18 ol, #element-18 h1 
{
  font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 20px;
  text-align: center;
}

#element-19  
{
  height: 61px;
  width: 61px;
  left: 449px;
  top: -29px;
  z-index: 20;
}

#element-20  
{
  height: 17px;
  width: 34px;
  left: 463px;
  top: -5px;
  z-index: 21;
}

#element-24  
{
  height: 22px;
  width: 400px;
  left: 559px;
  top: 39px;
  z-index: 22;
}

#element-24 p, #element-24 ul, #element-24 ol, #element-24 h1 
{
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 22px;
  text-align: right;
}

#element-25  
{
  height: 11px;
  width: 393px;
  left: 117px;
  top: 491px;
  z-index: 23;
}

#element-60  
{
  height: 235px;
  width: 317px;
  left: 35px;
  top: 773px;
  z-index: 24;
}

#element-26  
{
  height: 11px;
  width: 393px;
  left: 376px;
  top: 811px;
  z-index: 25;
}

#element-47  
{
  height: 60px;
  width: 93px;
  left: 539px;
  top: 261px;
  z-index: 26;
}

#element-73  
{
  height: 329px;
  width: 691px;
  left: 134px;
  top: 703px;
  z-index: 27;
}

#element-84  
{
  height: 87px;
  width: 444px;
  left: 174px;
  top: 754px;
  z-index: 28;
}

#element-84 p, #element-84 ul, #element-84 ol, #element-84 h1 
{
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 29px;
  text-align: left;
}

#element-52  
{
  height: 24px;
  width: 171px;
  left: 177px;
  top: 718px;
  z-index: 29;
}

#element-52 p, #element-52 ul, #element-52 ol, #element-52 h1 
{
  font-size: 15px;
  color: rgb(234, 49, 49);
  line-height: 24px;
  text-align: left;
}

#element-87  
{
  height: 24px;
  width: 256px;
  left: 289px;
  top: 986px;
  z-index: 30;
}

#element-87 p, #element-87 ul, #element-87 ol, #element-87 h1 
{
  font-size: 15px;
  color: rgb(5, 92, 179);
  line-height: 24px;
  text-align: left;
}

#element-130  
{
  height: 264px;
  width: 144px;
  left: 661px;
  top: 730px;
  z-index: 31;
}


#page_block_header { height: 1138px; }

#page_block_header .border-holder
{
  background-image: none;

  background-color: #ffffff;

  background-repeat: repeat;						background-position: center center;



  width: auto;
  border-width: 0;
  border-top-width: 0px;
  border-bottom-width: 0px;


  height: 1138px;

  /* */
}

#page_block_header .color-overlay
{
}

#page_block_header .block-inner
{
  margin-top: 0px;
}


#page_block_below_fold { height: 1077px; }

#page_block_below_fold .border-holder
{
  background-image: none;

  background-color: transparent;

  background-repeat: repeat;						background-position: top left;


  border-color: #cccccc;		border-style: solid;		
  width: auto;
  border-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;


  height: 1077px;

  /* */
}

#page_block_below_fold .color-overlay
{
}

#page_block_below_fold .block-inner
{
  margin-top: -1px;
}


#page_block_footer { height: 418px; }

#page_block_footer .border-holder
{
  background-image: none;

  background-color: transparent;

  background-repeat: repeat;						background-position: top left;



  width: auto;
  border-width: 0;
  border-top-width: 0px;
  border-bottom-width: 0px;


  height: 418px;

  /* */
}

#page_block_footer .color-overlay
{
}

#page_block_footer .block-inner
{
  margin-top: 0px;
}


@media
screen and (max-width: 620px),
screen and (max-width: 999px) and (-webkit-min-device-pixel-ratio: 1.5) and ( max-device-width: 1280px ) and (max-device-height: 720px),
screen and (max-width: 999px) and (-webkit-min-device-pixel-ratio: 1.5) and ( max-device-width: 1000px )
{
  body
  {
    min-width: 400px;
    width: 100%;
  }
  .page.page2
  {
    width: 100%;
  }
  .page.page2 .block-inner
  {
    width: 400px;
    margin: 0 auto;
  }
  .page.page2.new-mobile-preview .block-inner
  {
    width: auto;
  }


  .widget-form .field-checkbox .field-element label:before,
  .widget-form .field-radio .field-element label:before
  {
    top: 16px;
  }
  .widget-form .field-checkbox .field-element label:after
  {
    top: 21px;
  }

  .widget-form .field-radio .field-element label:after
  {
    top: 16px;
  }

  .widget-form .select-outer
  {
    overflow: hidden;
    margin-bottom: 8px;
    margin-top: 8px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }

  .widget-form .select-outer select
  {
    width: calc( 100% - 1px );
    height: 56px;
    border: 0;
    margin: 0;
    -webkit-appearance: none;
    line-height: 30px;
    border-style: solid;
    border-width: 1px;
    background-image: url( '/static/img/builder2/select-arrow-drop-down.png' );
    background-position: right;
    background-repeat: no-repeat;
  }
  .widget-form .form-input[type="text"],
  .widget-form .form-input[type="password"],
  .widget-form .form-input[type="email"],
  .widget-form textarea.form-input
  {
    padding-top: 12px;
    padding-bottom: 9px;
    font-size: 20px;
    line-height: 22px;
    height: 56px;
  }

  .widget-form .label-outside,
  .widget-form .outside-top,
  .widget-form .field-element label
  {
    font-size: 20px;
    line-height: 22px;
    padding-top: 12px;
    padding-bottom: 9px;
  }

  .widget-form select
  {
    font-size: 20px;
    height: 56px;
    padding-left: 9px;
    width: calc( 100% + 2px );
    -moz-padding-start: 5px;
  }

  .widget-form .input-holder.field-checkbox > label.outside-top,
  .widget-form .input-holder.field-radio > label.outside-top,
  .widget-form .field-container.edit.field-checkbox > label.label-outside,
  .widget-form .field-container.edit.field-radio > label.label-outside
  {
    margin-top: 8px;
    margin-bottom: 2px;
  }

  .widget-form .form-option-element label,
  .widget-form .field-element label
  {
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 0;
    margin-bottom: 0px;
  }

  .new_mobile .widget-form textarea.form-input.shortnice
  {
    height: 56px;
  }


  #element-1  
  {
    height: 164.17px;
    width: 400px;
    left: 0px;
    top: 75px;
    z-index: 3;
  }

  #element-64  
  {
    height: 110px;
    width: 370px;
    left: 19px;
    top: 344px;
    z-index: 4;
  }

  #element-64 p, #element-64 ul, #element-64 ol, #element-64 h1 
  {
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 22px;
    text-align: center !important;
  }

  #element-5  
  {
    height: 45px;
    width: 204px;
    left: 8px;
    top: 10px;
    z-index: 7;
  }

  #element-5 p, #element-5 ul, #element-5 ol, #element-5 h1 
  {
    font-size: 35px;
    color: rgb(0, 0, 0);
    line-height: 45px;
    text-align: left !important;
  }

  #element-6  
  {
    height: 64px;
    width: 364px;
    left: 19px;
    top: 256px;
    z-index: 8;
  }

  #element-6 p, #element-6 ul, #element-6 ol, #element-6 h1 
  {
    font-size: 25px;
    color: rgb(0, 0, 0);
    line-height: 32px;
    text-align: center !important;
  }

  #element-7  
  {
    height: 224.71px;
    width: 319px;
    left: 40px;
    top: 69px;
    z-index: 9;
  }

  #element-8  
  {
    height: 237.32px;
    width: 206px;
    left: 95px;
    top: 544px;
    z-index: 10;
  }

  #element-10  
  {
    height: 11px;
    width: 399px;
    left: -1px;
    top: 988px;
    z-index: 11;
  }

  #element-11  
  {
    height: 25px;
    width: 244px;
    left: 78px;
    top: 310px;
    z-index: 12;
  }

  #element-11 p, #element-11 ul, #element-11 ol, #element-11 h1 
  {
    font-size: 21px;
    color: rgb(0, 0, 0);
    line-height: 25px;
    text-align: center !important;
  }

  #element-12  
  {
    height: 88px;
    width: 337px;
    left: 32px;
    top: 360px;
    z-index: 13;
  }

  #element-12 p, #element-12 ul, #element-12 ol, #element-12 h1 
  {
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 22px;
    text-align: center !important;
  }

  #element-14  
  {
    height: 25px;
    width: 211px;
    left: 95px;
    top: 809px;
    z-index: 14;
  }

  #element-14 p, #element-14 ul, #element-14 ol, #element-14 h1 
  {
    font-size: 21px;
    color: rgb(0, 0, 0);
    line-height: 25px;
    text-align: center !important;
  }

  #element-13  
  {
    height: 120px;
    width: 303px;
    left: 49px;
    top: 860px;
    z-index: 15;
  }

  #element-13 p, #element-13 ul, #element-13 ol, #element-13 h1 
  {
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 20px;
    text-align: center !important;
  }

  #element-16  
  {
    height: 25px;
    width: 244px;
    left: 70px;
    top: 1355px;
    z-index: 16;
  }

  #element-16 p, #element-16 ul, #element-16 ol, #element-16 h1 
  {
    font-size: 21px;
    color: rgb(0, 0, 0);
    line-height: 25px;
    text-align: left !important;
  }

  #element-15  
  {
    height: 120px;
    width: 346px;
    left: 24px;
    top: 1393px;
    z-index: 17;
  }

  #element-15 p, #element-15 ul, #element-15 ol, #element-15 h1 
  {
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 20px;
    text-align: center !important;
  }

  #element-17  
  {
    height: 64px;
    width: 326px;
    left: 36px;
    top: -364px;
    z-index: 18;
  }

  #element-17 p, #element-17 ul, #element-17 ol, #element-17 h1 
  {
    font-size: 25px;
    color: rgb(0, 0, 0);
    line-height: 32px;
    text-align: center !important;
  }

  #element-18  
  {
    height: 36px;
    width: 370px;
    left: 19px;
    top: 22px;
    z-index: 19;
  }

  #element-18 p, #element-18 ul, #element-18 ol, #element-18 h1 
  {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 18px;
    text-align: center !important;
  }

  #element-29  
  {
    height: 72px;
    width: 300px;
    left: 49px;
    top: -280px;
  }

  #element-19  
  {
    height: 61px;
    width: 61px;
    left: 169px;
    top: -20px;
    z-index: 20;
  }

  #element-48  
  {
    height: 72px;
    width: 300px;
    left: 54px;
    top: 645px;
  }

  #element-20  
  {
    height: 18.5px;
    width: 37px;
    left: 181px;
    top: 0px;
    z-index: 21;
  }

  #element-24  
  {
    height: 23px;
    width: 188px;
    left: 199px;
    top: 21px;
    z-index: 22;
  }

  #element-24 p, #element-24 ul, #element-24 ol, #element-24 h1 
  {
    font-size: 19px;
    color: rgb(0, 0, 0);
    line-height: 23px;
    text-align: right !important;
  }

  #element-25  
  {
    height: 11px;
    width: 399px;
    left: 0px;
    top: 477px;
    z-index: 23;
  }

  #element-60  
  {
    height: 279.48px;
    width: 377px;
    left: 11px;
    top: 1043px;
    z-index: 24;
  }

  #element-26  
  {
    height: 11px;
    width: 399px;
    left: -1px;
    top: 1497px;
    z-index: 25;
  }

  #element-47  
  {
    height: 27.1px;
    width: 42px;
    left: 201px;
    top: 148px;
    z-index: 26;
  }

  #element-73  
  {
    height: 394px;
    width: 370px;
    left: 19px;
    top: 492px;
    z-index: 27;
  }

  #element-84  
  {
    height: 66px;
    width: 347px;
    left: 27px;
    top: 546px;
    z-index: 28;
  }

  #element-84 p, #element-84 ul, #element-84 ol, #element-84 h1 
  {
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 22px;
    text-align: center !important;
  }

  #element-52  
  {
    height: 22px;
    width: 307px;
    left: 47px;
    top: 507px;
    z-index: 29;
  }

  #element-52 p, #element-52 ul, #element-52 ol, #element-52 h1 
  {
    font-size: 18px;
    color: rgb(234, 49, 49);
    line-height: 22px;
    text-align: center !important;
  }

  #element-87  
  {
    height: 20px;
    width: 256px;
    left: 76px;
    top: 833px;
    z-index: 30;
  }

  #element-87 p, #element-87 ul, #element-87 ol, #element-87 h1 
  {
    font-size: 15px;
    color: rgb(5, 92, 179);
    line-height: 20px;
    text-align: left !important;
  }

  #element-130  
  {
    display: none;
  }


  #page_block_header { height: 958px; }

  #page_block_header .border-holder
  {
    background-image: none;

    background-color: transparent;

    background-repeat: repeat;						background-position: top left;



    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;


    height: 958px;

    /* */
  }

  #page_block_header .color-overlay
  {
  }

  #page_block_header .block-inner
  {
    margin-top: 0px;
  }


  #page_block_below_fold { height: 1935px; }

  #page_block_below_fold .border-holder
  {
    background-image: none;

    background-color: transparent;

    background-repeat: repeat;						background-position: top left;


    border-color: #cccccc;		border-style: solid;		
    width: auto;
    border-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;


    height: 1935px;

    /* */
  }

  #page_block_below_fold .color-overlay
  {
  }

  #page_block_below_fold .block-inner
  {
    margin-top: -1px;
  }


  #page_block_footer { height: 72px; }

  #page_block_footer .border-holder
  {
    background-image: none;

    background-color: transparent;

    background-repeat: repeat;						background-position: top left;



    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;


    height: 72px;

    /* */
  }

  #page_block_footer .color-overlay
  {
  }

  #page_block_footer .block-inner
  {
    margin-top: 0px;
  }

}

@media
screen and (min-width: 621px)  and (-webkit-max-device-pixel-ratio: 1.5),
screen and (min-width: 1000px) and (-webkit-max-device-pixel-ratio: 1.5)
{
  .new_mobile .page.page2.mobile .block-inner
  {
    width: 960px;
  }
}
